site_name: Operator Up
site_author: Obscurity Labs LLC.
site_description: Helpful operator notes and techniques in actionable form
site_url: https://obscuritylabs.com/

# Copyright
copyright: Copyright &copy; 2020-2020 Obscurity Labs LLC.

language: en
theme:
  name: 'material'
  palette:
    primary: black
    accent: red
  features:
    - instant
    - tabs
  font:
    text: Roboto
    code: Roboto Mono

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/squidfunk
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/squidfunk
    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/squidfunk

# Extensions
markdown_extensions:
  - markdown.extensions.admonition
  - markdown.extensions.attr_list
  - markdown.extensions.codehilite:
      guess_lang: false
  - markdown.extensions.def_list
  - markdown.extensions.footnotes
  - markdown.extensions.meta
  - markdown.extensions.toc:
      permalink: true
  - pymdownx.arithmatex
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  # - pymdownx.highlight:
  #     linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search # necessary for search to work
  - minify:
      minify_html: true
  - git-revision-date-localized:
      type: date

repo_name: obscuritylabs/operator-up
repo_url: https://github.com/obscuritylabs/operator-up
edit_uri: https://github.com/obscuritylabs/operator-up

# Page tree
nav:
  - Home: index.md
  - Getting started: getting-started.md
  - Windows:
    - Privilege Escalation: windows/priv_esc.md
  - Linux:
    - Search: plugins/search.md
  - Scanning:
    - nmap: scanning/nmap.md
  - Customization: customization.md
  - Data privacy: data-privacy.md
  - Contributing: contributing.md
  - License: license.md